:root {
    --bg-gradient-desk: linear-gradient(315deg, #537895 0%, #09203f 74%);
    --bg-gradient-phn: linear-gradient(to bottom, #21303b, #09203f);
    --text-colour: #999;
    --input-colour: #fff;
    --border: 1px solid #999;
    --label-colour: #00bfff;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-gradient-desk);
    /* font-family: Arial, Helvetica, sans-serif; */
    color: var(--text-colour);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-size: 400% 400%;
    animation: gradient-anim 10s ease infinite;
}

@keyframes gradient-anim {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.theform {
    width: 40%;
    min-width: 600px;
    background-color: rgba(255,255,255,0.1);
    padding: 3rem;
    border-radius: 2rem;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.3);
}

.theform > form {
    width: 100%;
    text-align: center;
}

.theform > h3 {
    color: #999;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2em;
    position: relative;
}

.theform > h3::after {
    content: '';
    background-color: #fff;
    width: 70%;
    height: 4px;
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    transform: translateX(-50%);
}

.block {
    width: 80%;
    margin: 1.5em auto;
    position: relative;
}

.block__textfield {
    color: var(--input-colour);
    width: 100%;
    height: 100%;
    padding: 1em;
    background: none;
    border: var(--border);
    border-radius: 1rem;
    text-align: center;
}

.block__textfield::placeholder {
    color: var(--text-colour);
}

.block__indicator {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
}

.block__indicator--red {
    background-color: #f00;
    box-shadow: 0 0 5px #f00,
                0 0 10px #f00,
		0 0 20px #f00,
		0 0 40px #f00;
}

.block__indicator--green {
    background-color: #0f0;
    box-shadow: 0 0 5px #0f0,
                0 0 10px #0f0,
		0 0 20px #0f0,
		0 0 40px #0f0;
}

.block__error {
    visibility: hidden;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -1.4em;
    transform: translateX(-50%);
    font-size: 0.90em;
    /* font-weight: 700; */
    color: rgb(200,50,100);
}

.block > label {
    color: var(--label-colour);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: .5s;
}

.block__textfield:placeholder-shown ~ label {
    visibility: hidden;
}

.block__textfield:not(:placeholder-shown) ~ label {
    visibility: visible;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}


fieldset {
    border: var(--border);
    border-radius: 1rem;
}

legend {
    color: var(--label-colour);
    margin: 0 auto;
    padding: 0 1em;
}

.block__element {
    margin: 1em auto;
    text-align: center;
}

.block__element > label {
    color: var(--input-colour);
}

.block__element > label + input[type="checkbox"],
.block__element > label + input[type="radio"] {
    margin-left: 3em;
}

.block__element > select {
    margin: 0 auto;
    width: 80%;
    padding: 0.5em;
}

.btn-submit {
    width: 60%;
    margin: 0 auto;
    padding: 0.5em;
    background-color: var(--label-colour);
    border: none;
    border-radius: 0.5rem;
}

@media (max-width: 767px) {
    body {
	width: 100%;
	height: auto;
	background: var(--bg-gradient-phn);
    }

    .theform {
	width: 90%;
	min-width: 360px;
    }

    .block__element > label + input[type="checkbox"],
    .block__element > label + input[type="radio"] {
	margin: auto;
    }

    .block__element > label {
	display: block;
	margin: 0 auto 1.5em auto;
    }
}
